body {
  background-color: #fcf7bb;
  margin: 0;
  font-family: 'Righteous', cursive;
}

.top-container {
  background-color: #efa8e4;
  height: 200px;
  width: 100%;
  margin: 0;
  height: 800px;
  width: 100%
}

.head1 {
  text-align: center;
  color: #400082;
  font-size: 50px;
  margin: 0 0 0 0;
}

.image1 {
  margin-top: 40px;
  position: absolute;
  left: 50px;
  padding-top: 10px;
  border-radius: 100%
}

.image2 {
  margin-top: 40px;
  position: absolute;
  left: 500px;
  padding-top: 10px;
  border-radius: 100%
}

.image3 {
  margin-top: 40px;
  position: absolute;
  right: 50px;
  padding-top: 10px;
  border-radius: 100%
}

p {
  margin: 0 0 0 0;
  font-family: 'Righteous', cursive;
  width: 40%;
  line-height: 2;
  margin: auto;
}

.p1 {
  font-size: 20px;
  color: red;
  font-family: cursive;
  padding-top: 450px;
}

.mobile-Specification {
  font-family: Impact, Charcoal, sans-serif;
}

.middle-container {
  margin: 0 0 0 0;
  background-color: #a4c5c6;
  min-height: 300px;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  border-style: solid;
  overflow: auto;
}

.move {
  font-size: 25px;
  color: blue;
}

#searchtxt {
  font-size: 20px;
  background-color: #fcf8f3;
  margin-top: 100px;
}

.btn {
  font-size: 20px;
}


.bottom-container {
  background-color: #d2c6b2;
  height: 100px;
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
}
